<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute:</strong>
  <%= @attribute.attribute %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @attribute.sex %>
</p>

<p>
  <strong>Is neuter:</strong>
  <%= @attribute.is_neuter %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
