<p id="notice"><%= notice %></p>

<h1>Listing Fish Polies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fish_polies.each do |fish_poly| %>
      <tr>
        <td><%= link_to 'Show', fish_poly %></td>
        <td><%= link_to 'Edit', edit_fish_poly_path(fish_poly) %></td>
        <td><%= link_to 'Destroy', fish_poly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fish poly', new_fish_poly_path %>
