<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @cat.dog %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @cat.fish %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cat.sex %>
</p>

<p>
  <strong>Is neuter:</strong>
  <%= @cat.is_neuter %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
